body {
  margin: 0rem;
  padding: 1rem;
  background-color: rgb(43, 48, 58);
  color: white;
  font-family: sans-serif;
}

#input-div {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#submit-field {
  position: relative;
  font-size: clamp(10px, 5vw, 30px);
  border-radius: 5px;
  border: none;
  color: rgb(43, 48, 58);
}

#submit-btn {
  font-size: clamp(10px, 5vw, 30px);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgb(43, 48, 58);
}

#todo-card {
  display: grid;
  justify-content: center;
  position: relative;
}

#todo-div {
  border-radius: 10px;
  margin: 1rem;
  padding: 0.2rem;
  background-color: rgb(214, 73, 51);
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  justify-content: space-around;
  width: clamp(20rem, 25vw, 30rem);
}

#todo-paragraph {
  background-color: rgba(255, 255, 255, 0.759);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.2rem;
  color: rgb(85, 85, 85);
  text-align: center;
  position: relative;
  justify-content: center;
  font-size: 30px;
  overflow: hidden;
}

.delete {
  top: 30%;
  left: 12%;
  font-size: 25px;
  color: white;
  float: right;
  display: flex;
  position: relative;
  text-align: center;
  margin: 0rem;
  padding: 0rem;
  float: right;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#footer-div {
  display: block;
  position: fixed;
  bottom: 0%;
  width: 100%;
  border-top: solid 1px rgb(238, 229, 233);
  margin: -1rem;
  padding-bottom: 1rem;
}

#footer-paragraph {
  /* display: flex; */
  font-size: clamp(1.1rem, 1.5vw, 3rem);
  text-align: center;
  justify-content: center;
  color: rgb(146, 220, 229);
}

#footer-paragraph-span {
  color: crimson;
}

.line-through {
  text-decoration: line-through;
}

/* TODO Finish positioning the check-box */

.form-control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
